doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title 3061 Scouting
    // Bootstrap core CSS
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 3061 Scouting
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/pit') Pit Scouting
            li.active
              a(href='/match') Match scouting
        // /.nav-collapse
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        .col.xs-12
          div.col-xs-12
            center
              h1 Match Scouting
              br

          legend Team Stuff
          div.col-xs-4
            label Team Number
              input.form-control(type="number", placeholder="Team Number Here", name="teamNumber", value=0)
          div.col-xs-4
            label Match Number
              input.form-control(type="number", placeholder="Match Number Here", name="matchNumber", value=0)
              br
          div.col-xs-4
            label Scout Name
              input.form-control(type="string", placeholder="Your Name Here", name = "scoutName", value="")

          //Creating Defenses Breached Stuff
          legend Autonomous
        .col-xs-12
          div.col-xs-12
            h4 Defenses Breached
          div.col-xs-12
          div.col-xs-2
            h4 Category A
          div.col-xs-2
            h4 Category B
          div.col-xs-2
            h4 Category C
          div.col-xs-2
            h4 Category D
          div.col-xs-2
            h4 Category E
          div.col-xs-2
        .col-xs-12
            div.col-xs-2
              input(type="checkbox", name="autoPortcullis")
              | Porticullis
            div.col-xs-2
              input(type="checkbox", name="autoMoat")
              | Moat
            div.col-xs-2
              input(type="checkbox", name="autoDrawbridge")
              | Drawbridge
              br
            div.col-xs-2
              input(type="checkbox", name="autoRockWall")
              | Rock Wall
            div.col-xs-2
              input(type="checkbox", name="autoLowBar")
              | Low Bar
        .col-xs-12
            div.col-xs-2
              input(type="checkbox", name="autoChevalDeFrise")
              | Cheval de Frise
            div.col-xs-2
              input(type="checkbox", name="autoRamparts")
              | Ramparts
            div.col-xs-2
              input(type="checkbox", name="autoSallyPort")
              | Sally Port
            div.col-xs-2
              input(type="checkbox", name="autoRoughTerrain")
              | Rough Terrain
        div.col-xs-3
          br
          label Shots scored on high goal
          input.form-control(type="number", placeholder=0, name = "autoHighGoals", value=0)
        div.col-xs-3
        div.col-xs-3
          br
          label Shots scored on low goal
          input.form-control(type="number", placeholder = 0, name = "autoLowGoals", value=0)
          br
          br
        legend Teleop
        .col-xs-12
          div.col-xs-12
            h4 Defenses Breached
          div.col-xs-2
            h4 Category A
          div.col-xs-2
            h4 Category B
          div.col-xs-2
            h4 Category C
          div.col-xs-2
            h4 Category D
          div.col-xs-2
            h4 Category E
          div.col-xs-2
        .col-xs-12
            div.col-xs-2
              input(type="checkbox", name="portcullis")
              | Porticullis
            div.col-xs-2
              input(type="checkbox", name="moat")
              | Moat
            div.col-xs-2
              input(type="checkbox", name="drawbridge")
              | Drawbridge
              br
            div.col-xs-2
              input(type="checkbox", name="rockWall")
              | Rock Wall
            div.col-xs-2
              input(type="checkbox", name="lowBar")
              | Low Bar
        .col-xs-12
            div.col-xs-2
              input(type="checkbox", name="chevalDeFrise")
              | Cheval de Frise
            div.col-xs-2
              input(type="checkbox", name="ramparts")
              | Ramparts
            div.col-xs-2
              input(type="checkbox", name="sallyPort")
              | Sally Port
            div.col-xs-2
              input(type="checkbox", name="roughTerrain")
              | Rough Terrain
        .row
          .col-xs-6.col-xs-offset-4
            .form-group

            //- offense

        form#match_form
          fieldset
            div.col-xs-6
              legend Offense
              label Balls brought to courtyard
                input.form-control(type="number", placeholder=0, name = "ballsToCourtyard", value=0)
                br
              label Low goals scored
                input.form-control(type="number", placeholder=0, name = "lowGoals", value=0)
                br
              label High goals scored
                input.form-control(type="number", placeholder=0, name = "highGoals", value=0)
                br
              br
              input(type="checkbox", name="DidRobotScale")
              | Did the robot scale the tower?
              br
              br
              input(type="checkbox", name="RobotWobbleOrFall")
              | Does robot wobble or fall?
              br
              br
              input(type="checkbox", name="matchCounterStrategy")
              | Do we need to develop a counter strategy?

              //defence

            div.col-xs-6
              legend Defense
              label Number of shots prevented
                input.form-control(type="number", placeholder=0, name = "shotsPrevented", value=0)
                br
              label Balls stolen
                input.form-control(type="number", placeholder=0, name = "ballsStolen", value=0)
                br
              label Number of fouls
                input.form-control(type="number", placeholder=0, name = "fouls", value=0)
                br
              br
              br
            div.col-xs-12
              br
        .row
          .col-xs-6.col-xs-offset-4
            .form-group


            img

        .text-center
          br
          button.btn.btn-success.btn-lg#match_submit Submit

    // /container

    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/main.js')
    script(src='/bootstrap/js/bootstrap.min.js')