doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title 3061 Scouting
    // Bootstrap core CSS
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 3061 Scouting
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='/pit') Pit Scouting
            li
              a(href='/match') Match scouting
        // /.nav-collapse
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1 Pit Scouting
        
        form.form-horizontal#pit_form
          fieldset
            legend Pit Scouting
            .form-group
              label Team Number
                input.form-control(type="number", placeholder="3061", name="teamNumber")
            .checkbox
              label
                input(type="checkbox", name="mani_RC")
                |  Can manipulate upside RC's?
            .checkbox
              label
                input(type="checkbox", name="mani_totes")
                |  Can manipulate upside totes's?
            .checkbox
              label
                input(type="checkbox", name="push_litter_landfill")
                |  Can push litter into landfill?
            .checkbox
              label
                input(type="checkbox", name="intake_tote_landfill")
                |  Can intake totes from landfill?
            .checkbox
              label
                input(type="checkbox", name="intake_tote_feeder")
                |  Can intake totes from human feeder station?
            .checkbox
              label
                input(type="checkbox", name="active_tote_intake")
                |  Active intake for totes?
            .checkbox
              label
                input(type="checkbox", name="active_RC_intake")
                |  Active intake for RC's?
            .form-group
              label Drivetrain type
                input.form-control(type="text", placeholder="mec, tank, h, 2+2, etc.", name="drivetrain_type")
            .form-group
              label Preferred way to get totes 
              .radio
                label
                  input#optionsRadios1(type='radio', name='pref_tote_getting', value='landfill')
                  |     Landfill
              .radio
                label
                  input#optionsRadios2(type='radio', name='pref_tote_getting', value='feeder')
                  |     Feeder
              .radio
                label
                  input(type='radio', name="pref_tote_getting", value='na', checked='')
                  | N/A
            .checkbox
              label
                input(type="checkbox", name="deposit_totes_step")
                |  Able to deposit totes on step?
            .checkbox
              label
                input(type="checkbox", name="acquire_totes_step")
                |  Able to acquire totes on step?
            .checkbox
              label
                input(type="checkbox", name="acquire_upside_down_totes")
                |  Able to acquire upside down totes?
            .checkbox
              label
                input(type="checkbox", name="mani_upside_down_totes")
                |  Able to manipulate upside down totes?
            .checkbox
              label
                input(type="checkbox", name="acquire_sideways_RC")
                |  Able to acquire sideways RC's?
            .checkbox
              label
                input(type="checkbox", name="score_sideways_RC")
                |  Able to score sideways RC's?
            .checkbox
              label
                input(type="checkbox", name="right_sideways_RC")
                |  Able to right a sideways RC?
            .checkbox
              label
                input(type="checkbox", name="stack_on_robot")
                |  Able to stack on robot?
            .checkbox
              label
                input(type="checkbox", name="internal_stacking")
                |  Internal stacking?
            .checkbox
              label
                input(type="checkbox", name="drive_over_platform")
                |  Able to drive over platform?
            br
            button.btn.btn-primary#pit_submit Submit

        //- Can manipulate upside RC’s {Y/N}
        //- Can manipulate upside totes {Y/N}
        //- Can push litter into landfill {Y/N}
        //- Can intake totes from landfill {Y/N}
        //- Can intake totes from human feeder station {Y/N}
        //- Active intake for totes {Y/N}
        //- Active intake for RC’s {Y/N}
        //- Drivetrain type {Mecanum, Tank, H-drive, 2+2, Other w/ description in notes}
        //- Preferred place of tote acquisition {Landfill, Human Feeder Station}
        //- Able to deposit totes on step {Y/N}
        //- Able to acquire totes on step {Y/N}
        //- Able to acquire upside down totes {Y/N}
        //- Able to manipulate upside down totes {Y/N}
        //- Able to acquire sideways RC’s {Y/N}
        //- Able to score sideways RC’s {Y/N}
        //- Able to right a sideways RC’s {Y/N}
        //- Able to stack on robot {Y/N}
        //- Internal stacking {Y/N}
        //- Able to drive over platform {Y/N}

        
        //- form.form-horizontal
        //-   fieldset
        //-     legend Controls Bootstrap supports
        //-     div.control-group
        //-       label.control-label(for="input01") Text input
        //-       div.controls
        //-         input.input-xlarge#input01(type="text")
        //-         p.help-block In addition to freeform text, any HTML5 text-based input appears like so.
        //-     div.control-group
        //-       label.control-label(for="optionsCheckbox") Checkbox
        //-       div.controls
        //-         label.checkbox
        //-           input#optionsCheckbox(type="checkbox", value="option1", placeholder="option1")
        //-           Option one is this and that—be sure to include why it's great
        //-     div.control-group
        //-       label.control-label(for="select01") Select list
        //-       div.controls
        //-         select#select01
        //-           option something
        //-           option 2
        //-           option 3
        //-           option 4
        //-           option 5
        //-     div.control-group
        //-       label.control-label(for="multiSelect") Multicon-select
        //-       div.controls
        //-         select#multiSelect(multiple="multiple")
        //-           option 1
        //-           option 2
        //-           option 3
        //-           option 4
        //-           option 5
        //-     div.control-group
        //-       label.control-label(for="fileInput") File input
        //-       div.controls
        //-         input.input-file#fileInput(type="file")
        //-     div.control-group
        //-       label.control-label(for="textarea") Textarea
        //-       div.controls
        //-         textarea.input-xlarge#textarea(rows="3") 
        //-     div.form-actions
        //-       button.btn.btn-primary(type="submit") Save changes
        //-       button.btn Cancel
    // /container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='#{pathToAssets}/dist/js/bootstrap.min.js')

      // ADD TEAM NUMBER TO FORM

  //- h1= title
  //- p Welcome to #{title}
  
  //- form(id='main_form')
  //-   h2  Auto 
  //-   h3 Starting configuration
  //-   input#config(type='radio', name='config', value='1')
  //-   br
  //-   input#config(type='radio', name='config', value='2')
  //-   br
  //-   input#config(type='radio', name='config', value='3')
  //-   br
  //-   h3 Materials in Auto Zone
  //-   input#bins(type='text', name='bins_auto', value='0')
  //-   input#totes(type='text', name='totes_auto', value='0')
  //-   input#noodles(type='text', name='noodles_auto', value='0')
  //-   h3 Stacking yellow bins
  //-   input#stack(type='radio', name='bins', value='yes')
  //-   input#stack(type='radio', name='bins', value='no', checked)
  //-   br
  //-   h3 Robot ends in auto zone
  //-   input#autoZone(type='radio', name='auto', value='yes')
  //-   input#autoZone(type='radio', name='auto', value='no', checked)
  //-   br
  //-   h2  teleop
  //-   h3  Things that can be manipulated: 
  //-   input#recycling(type='checkbox', name='recylingBins', value='recyling bins')
  //-   br
  //-   input#totes(type='checkbox', name='totes', value='totes')
  //-   br
  //-   input#noodles(type='checkbox', name='noodles', value='noodles')
  //-   br
  //-   h3  Coopertition Information 
  //-   input#coopertitionOption(type='radio', name='coop', value='stack')
  //-   br
  //-   input#coopOption(type='radio', name='coop', value='set')
  //-   br
  //-   input#coopOption(type='radio', name='coop', value='none', checked)
  //-   h3  Where do they collect totes from 
  //-   input#fromArena(type='checkbox', name='cGround', value='ground')
  //-   br
  //-   input#fromPlayer(type='checkbox', name='cHuman', value='human')
  //-   br
  //-   h3  Preference of tote collection 
  //-   input#collectPreference(type='radio', name='collect', value='ground')
  //-   br
  //-   input#collectPreference(type='radio', name='collect', value='human')
  //-   br
  //-   input#collectPreference(type='radio', name='collect', value='none', checked)
  //-   h3  Tip any totes or bins 
  //-   input#tipTotes(type='radio', name='pickup', value='yes')
  //-   input#tipTotes(type='radio', name='pickup', value='no', checked)
  //-   br
  //-   h3  # of stacks knocked down 
  //-   input#stacksKnocked(type='text', name='stacksKnocked', value='0')
  //-   br
  //-   h3  Max crates 
  //-   input#maxCrates(type='text', name='maxCrates', value='0')
  //-   h3  Go over platform 
  //-   input#overPlatform(type='radio', name='platform', value='yes')
  //-   input#overPlatform(type='radio', name='platform', value='no', checked)
  //-   br
  //-   br
  //-   br
  //-   button#submit_button Submit
  //- form
  //-   button Get Data
  //- form
  //-   button.clear clear
