doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title 3061 Scouting
    // Bootstrap core CSS
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 3061 Scouting
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='/pit') Pit Scouting
            li
              a(href='/match') Match scouting
        // /.nav-collapse
    .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1 Pit Scouting

        form#pit_form
          fieldset
            legend General Information
            .form-group
              label Team Number
                input.form-control(type="number", placeholder="3061", name="pitTeamNumber", value=0)
            .form-group
              label Your name
                input.form-control(type="text", placeholder="your name", name="pitScoutName")
            .form-group
              label Drivetrain type
                input.form-control(type="text", placeholder="mec, tank, h, 2+2, etc.", name="drivetrainType")
            .form-group
              label
                input(type="checkbox", name="overlyFragile")
                |  Is the robot overly fragile?
            .form-group
              label
                textarea(rows="3", columns="100", name="fragileComments", placeholder="Comments")
            legend Match Information
            .form-group
              div.col-xs-6
                label Can shoot at high goal?
                .radio
                  label
                    input#optionsRadios1(type='radio', name='pitHighGoal', value='yes')
                    |     Yes
                .radio
                  label
                    input#optionsRadios2(type='radio', name='pitHighGoal', value='no')
                    |     No
                .radio
                  label
                    input#optionsRadios3(type='radio', name="pitHighGoal", value='possibly')
                    | Possibly
              div.col-xs-6
                label Can shoot at low goal?
                .radio
                  label
                    input#optionsRadios1(type='radio', name='pitLowGoal', value='yes')
                    |     Yes
                .radio
                  label
                    input#optionsRadios2(type='radio', name='pitLowGoal', value='no')
                    |     No
                .radio
                  label
                    input#optionsRadios3(type='radio', name="pitLowGoal", value='possibly')
                    | Possibly
            .form-group
              label How does the robot gather boulders?
              .radio
                label
                  input#optionsRadios1(type='radio', name='boulderGathering', value='ground')
                  | Ground
              .radio
                label
                  input#optionsRadios2(type='radio', name='boulderGathering', value='humanPlayer')
                  | Human player
              .radio
                label
                  input#optionsRadios3(type='radio', name="boulderGathering", value='cannotCollect')
                  | Cannot collect
              .radio
                label
                  input#optionsRadios4(type="radio", name="boulderGathering", value="other")
                  | Other:
              input(type = "text", placeholder = "Other Method")
            .form-group
              input(type="checkbox", name="canClimb")
              | Can the robot climb the tower?
            .form-group
              .col-xs-12
                div.col-xs-12
                  h4 Which defenses can likely be breached?
                div.col-xs-2
                  h4 Category A
                div.col-xs-2
                  h4 Category B
                div.col-xs-2
                  h4 Category C
                div.col-xs-2
                  h4 Category D
                div.col-xs-2
                  h4 Category E
                div.col-xs-2
              .col-xs-12
                div.col-xs-2
                  input(type="checkbox", name="pitPortcullis")
                  | Porticullis
                div.col-xs-2
                  input(type="checkbox", name="pitMoat")
                  | Moat
                div.col-xs-2
                  input(type="checkbox", name="pitDrawbridge")
                  | Drawbridge
                  br
                div.col-xs-2
                  input(type="checkbox", name="pitRockWall")
                  | Rock Wall
                div.col-xs-2
                  input(type="checkbox", name="pitLowBar")
                  | Low Bar
              .col-xs-12
                div.col-xs-2
                  input(type="checkbox", name="pitChevalDeFrise")
                  | Cheval de Frise
                div.col-xs-2
                  input(type="checkbox", name="pitRamparts")
                  | Ramparts
                div.col-xs-2
                  input(type="checkbox", name="pitSallyPort")
                  | Sally Port
                div.col-xs-2
                  input(type="checkbox", name="pitRoughTerrain")
                  | Rough Terrain
            .form-group
              .col-xs-12
                div.col-xs-12
                  h3
              legend Miscellaneous Information
            .form-group
              label
                input(type="checkbox", name="communicationIssues")
                | Do they have communcation issues?
            .form-group
              label
                input(type="checkbox", name="counterstrategy")
                | Do we need to develop a counter strategy?
            .form-group
              textarea(rows="3", columns="200", name="communicationComments", placeholder="Communication Comments")

            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="mani_RC")
            //-     |  Can manipulate upside RC's?
            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="mani_totes")
            //-     |  Can manipulate upside totes's?
            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="push_litter_landfill")
            //-     |  Can push litter into landfill?


            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="active_tote_intake")
            //-     |  Active intake for totes?
            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="active_RC_intake")
            //-     |  Active intake for RC's?



            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="acquire_totes_step")
            //-     |  Able to acquire totes on step?
            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="acquire_upside_down_totes")
            //-     |  Able to acquire upside down totes?
            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="mani_upside_down_totes")
            //-     |  Able to manipulate upside down totes?
            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="acquire_sideways_RC")
            //-     |  Able to acquire sideways RC's?

            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="right_sideways_RC")
            //-     |  Able to right a sideways RC?
            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="stack_on_robot")
            //-     |  Able to stack on robot?
            //- .checkbox
            //-   label
            //-     input(type="checkbox", name="internal_stacking")
            //-     |  Internal stacking?




            br
            .text-center
              button.btn.btn-success.btn-lg#pit_submit Submit


        //- form.form-horizontal
        //-   fieldset
        //-     legend Controls Bootstrap supports
        //-     div.control-group
        //-       label.control-label(for="input01") Text input
        //-       div.controls
        //-         input.input-xlarge#input01(type="text")
        //-         p.help-block In addition to freeform text, any HTML5 text-based input appears like so.
        //-     div.control-group
        //-       label.control-label(for="optionsCheckbox") Checkbox
        //-       div.controls
        //-         label.checkbox
        //-           input#optionsCheckbox(type="checkbox", value="option1", placeholder="option1")
        //-           Option one is this and that—be sure to include why it's great
        //-     div.control-group
        //-       label.control-label(for="select01") Select list
        //-       div.controls
        //-         select#select01
        //-           option something
        //-           option 2
        //-           option 3
        //-           option 4
        //-           option 5
        //-     div.control-group
        //-       label.control-label(for="multiSelect") Multicon-select
        //-       div.controls
        //-         select#multiSelect(multiple="multiple")
        //-           option 1
        //-           option 2
        //-           option 3
        //-           option 4
        //-           option 5
        //-     div.control-group
        //-       label.control-label(for="fileInput") File input
        //-       div.controls
        //-         input.input-file#fileInput(type="file")
        //-     div.control-group
        //-       label.control-label(for="textarea") Textarea
        //-       div.controls
        //-         textarea.input-xlarge#textarea(rows="3")
        //-     div.form-actions
        //-       button.btn.btn-primary(type="submit") Save changes
        //-       button.btn Cancel
    // /container

    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/main.js')
    script(src='/bootstrap/js/bootstrap.min.js')